.main-index {
	background-color: #fbfafa;
}

.items__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.item {
	width: 275px;
	height: 430px;
	margin: 0 10px;
	margin-top: 30px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);


	&:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	}

	&_company {
		width: 575px;
	}

	&__head {
		position: relative;
		width: 100%;
		height: 320px;

		&-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to top, rgba(38, 38, 38, 0.81) 0%, rgba(38, 38, 38, 0) 99%);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(96, 96, 96, 0.5);
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;

		&-link {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&:hover &__overlay {
		display: block;
	}

	&__photos {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 2;
		display: none;
		justify-content: center;
		align-items: center;
		height: 25px;
		padding: 0 10px;
		background-color: rgba(38, 38, 38, 0.6);
		border-radius: 2px;

		&-camera {
			margin-right: 5px;
			font-size: 12px;
			color: white;
		}

		&-value {
			font-weight: 500;
			font-size: 12px;
			color: white;
		}
	}

	&:hover &__photos {
		display: flex;
	}

	&__is-gif {
		font-size: 11px;
		letter-spacing: 0.42px;
		color: white;

		&-wrap {
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 2;
			display: none;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			background-color: $black;
			border-radius: 50%;
			box-shadow: -9px -1px 27px rgba(32, 32, 32, 0.56);
		}
	}

	&__city {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 2;
		height: 25px;
		background-color: rgba(38, 38, 38, 0.6);
		border-radius: 2px;

		&-name {
			padding: 5px 12px 7px;
			font-size: 12px;
			color: white;
			letter-spacing: 1.07px;

			&:hover {
				color: $red;
			}
		}
	}

	&__like {
		position: absolute;
		right: 20px;
		bottom: 20px;
		z-index: 2;
		font-size: 19px;
		color: white;
		cursor: pointer;

		&:hover {
			color: $red;
		}
	}

	&__play-gif {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: none;
	}

	&_gif &__play-gif {
		display: block;
	}

	&_gif &__is-gif-wrap {
		display: flex;
	}
	
	&__bot {
		padding: 20px;
		padding-top: 17px;
	}

	&__name {
		font-weight: 600;
		font-size: 16px;
		color: $black;
		line-height: 1.25;

		&:hover {
			color: $gray;
		}
	}

	&__price {
		margin-top: 10px;
		font-weight: 700;
		font-size: 24px;
		color: $red;
	}

	&__catalogue {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 10px;
	}

	&__all-items {
		font-weight: 500;
		font-size: 13px;
		color: $gray;
	}

	&__items-count {
		padding: 5px 10px;
		font-weight: 500;
		font-size: 13px;
		color: white;
		background-color: $blue;
		border-radius: 2px;
	}
}

.more-items {
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 9px;
	font-weight: 500;
	font-size: 14px;
	color: white;
	background-color: $gray;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}